<div class="sidebar d-flex flex-column p-3 bg-light" style="width: 250px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4 fw-bold">Test System Menu</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link active text-white bg-primary">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/sensor-data" class="nav-link link-dark">
        Sensor Data
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/test-management" class="nav-link link-dark">
        Test Management
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/notification-list" class="nav-link link-dark">
        Notifications
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/reports" class="nav-link link-dark">
        Reports
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" class="nav-link link-dark">
        Settings
      </a>
    </li>
  </ul>
</div>
